@import '~bootstrap/scss/bootstrap';

table.table {
    img {
        max-width: 25px;

        @include media-breakpoint-up(md) {
            max-width: 50px;
        }

        @include media-breakpoint-up(lg) {
            max-width: 75px;
        }
    }
}