<div class="row">
  <div class="columns small-6 small-centered">
    <table>
      <thead>
        <tr>
          <th>Game #</th>
          <th># Correct Answers</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <tr>
            <td><%= game.id %></td>
            <td><%= game.frames.count %></td>
            <td><%= game.created_at.strftime("%B %d, %Y") %></td>
            <td><%= link_to "See Results", game_path(game), class: 'button small' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
