<div class="row">
  <div class="columns small-12">
    <section id="new-game">
      <h1>I'm ready when you are.</h1>
      <%= button_to "Start Game", games_path, class: 'button large' %>
    </section>
  </div>
</div>
