<div class="row">
  <div class="columns small-12">
    <div class="panel sequence">
      <ul>
        <li><a class="choice button small" data-value="">1</a></li>
        <li><a class="choice button small" data-value="">2</a></li>
        <li><a class="choice button small" data-value="">3</a></li>
        <li><a class="choice button small" data-value="">4</a></li>
        <li><a class="choice button small" data-value="">5</a></li>
      </ul>
    </div>
  </div>
</div>
