@import '~bootstrap/scss/bootstrap';

.button-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 32px;
    padding: 0;

    button.btn {
        font-size: 1rem;
        margin-bottom: 16px;
        height: 4rem;
        width: 16rem;

        &[disabled] {
            cursor: not-allowed;
            pointer-events: none;
        }

        img {
            max-width: 20px;
            margin-left: 12px;
        }
    }
}

@include media-breakpoint-up(md) {
    .button-group {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;

        button.btn {
            font-size: 1.075rem;
            width: 17rem;

            img {
                max-width: 22px;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .button-group {
        button.btn {
            font-size: 1.5rem;
            width: 20rem;

            img {
                max-width: 44px;
            }
        }
    }
}