@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');

.app {
  font-family: 'Corben', cursive;
  height: 100vh;
  width: 100vw;
}
