.app-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 2rem;

    .challenge-instructions {
        display: flex;
        flex-flow: column;
        justify-self: center;
    }

    .challenge-answers {
        @extend .challenge-instructions;
        margin-top: 2rem;
     
     #challenge-answer-list{
        column-count: 3;
        column-gap: 10rem;
     }
    }
}

